@media (prefers-color-scheme: light) {
  :root {
    --text: #0f0007;
    --background: #fffafd;
    --primary: #fb1891;
    --secondary: #fdb872;
    --accent: #fcda40;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #fff0f7;
    --background: #050003;
    --primary: #e7047d;
    --secondary: #8d4702;
    --accent: #bf9c03;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  position: relative;
}

.container > form {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.247);
  display: none;
  z-index: 9999;
}
