nav {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 20vw;
  height: 100vh;
  padding: 20px;
}

nav .logo {
  user-select: none;
  margin-top: 30px;
}

nav .logo > a > img {
  height: 60px;
  user-select: none;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 50px;
}

nav ul li .nav_link {
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-size: 15px;
  background: none;
  font-weight: bold;
}

li {
  position: relative;
  display: flex;
  align-items: center;
}

li img {
  margin-right: 15px;
}

nav ul li:hover::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 30px;
  background: #f0f0f0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translate(-15%, -5%);
}
