@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --text: #0f0007;
  --background: #fffafd;
  --primary: #fb1891;
  --secondary: #fdb872;
  --accent: #fcda40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}

::selection {
  background: var(--primary);
  color: white;
}

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  position: relative;
  background: var(--background);
  display: flex;
}

li {
  list-style-type: none;
}
